<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="esignature application">
        <meta name="Peter Csatai" content="E-signature Application">
        <link rel="icon" href="../../favicon.ico">

        <title>A3 Software / E-Signature</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{asset('bundles/app/js/jquery.disable.autocomplete.min.js')}}"></script>

        <!-- Custom styles for this template -->
        <link href="{{asset('bundles/app/css/style.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/app/css/sidebar.css')}}" rel="stylesheet">
        <style type="text/css">
            @font-face {
                font-family: 'Drug'; 
                src:    url({{asset('bundles/app/fonts/Drugs.otf')}}) format('opentype'); 
            }
            .myFont {
                font-family: 'Drug';
            }
            .myLogo {
                display:inline-block;
                font-family: 'Drug';
                font-size: 22px;
                color: white;
            }

            @media all and (max-width: 300px) {
                .sideBarDiv { display: none; }
            }
            #page-wrapper {
                min-height: 65em;
                margin-top: 50px;
                background-color:white;
            }
        </style>
        {% block stylesheets %}


        {% endblock %}


    </head>

    <body>

        <nav class="navbar navbar-inverse sidebar" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{path('app_index')}}" class="navbar-brand">
                        <div class="myLogo">
                            <img class="pull-left" style="margin-top:-5px;margin-right:10px;margin-left:-5px;" src="{{asset('bundles/app/images/LogoMakrSmall.png')}}" alt="A3Software Logo">
                            <span style="color:#cc3333;margin-left:-5px;"> Dent1st </span><span style="color:white;">Esign</span>
                        </div>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{path('logout')}}"><span class="pull-right showopacity glyphicon glyphicon-log-out"></span> Logout</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li><a href="#contact"><span class="showopacity glyphicon glyphicon-envelope"></span> Contact</a></li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{path('admin')}}"><span class="showopacity glyphicon glyphicon-cog"></span> Admin</a></li>
                                        <li><a href="{{path('register')}}"><span class="showopacity glyphicon glyphicon-pencil"></span> Register</a></li>
                                        {% endif %}
                                    {% else %}
                                    <li><a href="{{path('login')}}">Login</a></li>
                                    {% endif %}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Client <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a href="{{path('app_add_client')}}">Add new client<span class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a></li>
                                <li><a href="{{path('app_client')}}">Client manager<span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Econtract <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a href="{{path('app_send_econtract')}}">Send Econtract<span class="pull-right hidden-xs showopacity glyphicon glyphicon-send"></span></a></li>
                                <li><a href="{{path('app_sentcontracts')}}">Sent Econtracts<span class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Template <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a href="{{path('app_create_template')}}">New template<span class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a></li>
                                <li><a href="{{path('app_templatesettings')}}">Template settings<span class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
                            </ul>
                        </li>
                        <li><a href="{{path('app_selfSignature')}}">Your signature<span class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Email <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a>
                            <ul class="dropdown-menu forAnimate" role="menu">
                                <li><a href="{{path('app_emailsettings')}}">Email settings<span class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
                                <li><a href="{{path('app_emailTemplate')}}">Email template<span class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="main">
            {% block body %}
            {% endblock %}
        </div>            





        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{asset('bundles/app/js/sidebar.js')}}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        {% block javascripts %}

        {% endblock %}    

    </body>
</html>
