<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="esignature application">
        <meta name="Peter Csatai" content="E-signature Application">
        <link rel="icon" href="../../favicon.ico">

        <title>A3 Software / E-Signature</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{asset('bundles/app/js/jquery.disable.autocomplete.min.js')}}"></script>

        <!-- Custom styles for this template -->
        <link href="{{asset('bundles/app/css/style.css')}}" rel="stylesheet">
        <link href="{{asset('bundles/app/css/sidebar.css')}}" rel="stylesheet">
        <style type="text/css">
            @font-face {
                font-family: 'Drug'; 
                src:    url({{asset('bundles/app/fonts/Drugs.otf')}}) format('opentype'); 
            }
            .myFont {
                font-family: 'Drug';
            }
            .myLogo {
                display:inline-block;
                font-family: 'Drug';
                font-size: 2em;
                color: white;
            }

            @media all and (max-width: 300px) {
                .sideBarDiv { display: none; }
            }
        </style>
        {% block stylesheets %}


        {% endblock %}


    </head>

    <body>


        <div class="sideBarDiv">

            <nav class="navbar navbar-inverse affix sidebar" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{path('app_index')}}">Esign admin <span class="pull-right glyphicon glyphicon-home"></span></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{{path('app_send_econtract')}}">Send Econtract<span class="pull-right hidden-xs showopacity glyphicon glyphicon-send"></span></a></li>
                            <li><a href="{{path('app_sentcontracts')}}">Sent Econtracts<span class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                            <li><a href="{{path('app_add_client')}}">Add new client<span class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a></li>
                            <li><a href="{{path('app_client')}}">Client manager<span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                            <li><a href="{{path('app_template')}}">Templates<span class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                            <li><a href="{{path('app_create_template')}}">New template<span class="pull-right hidden-xs showopacity glyphicon glyphicon-plus"></span></a></li>
                            <li><a href="{{path('app_templatesettings')}}">Template settings<span class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
                            <li><a href="{{path('app_selfSignature')}}">Your signature<span class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
                            <li><a href="{{path('app_emailsettings')}}">Email settings<span class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
                            <li><a href="{{path('app_emailTemplate')}}">Email template<span class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>


            {% block sidebar %}


            {% endblock %}
        </div>
        
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <a href="#" class="navbar-brand">
                    <div class="myLogo">
                        <img style="margin-top:-7px;" src="{{asset('bundles/app/images/LogoMakrSmall.png')}}" alt="A3Software Logo">
                        <span style="color:#e0e7e2;">Dent1st </span><span style="color:#cc3333;">Esign</span>
                    </div>
                </a>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-right navbar-nav">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{path('admin')}}">Admin</a></li>
                                <li><a href="{{path('register')}}">Register</a></li>
                                {% endif %}
                            <li><a href="{{path('logout')}}">Logout</a></li>
                            {% else %}
                            <li><a href="{{path('login')}}">Login</a></li>

                        {% endif %}
                    </ul> 
                </div><!--/.nav-collapse -->
            </div>
        </nav>


        <div style="min-height: 20px;"></div>
        
        <div class="main">
        {% block body %}
        {% endblock %}
        </div>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        {% block javascripts %}

        {% endblock %}    

    </body>
</html>
