{% extends '::base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block body %}


    <div class="container">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Quick tools</h2>
                    {% if signature != true %}
                    <div class="col-md-12" center>
                        <br>
                        <h4 style="color:#8e1414">Your signature does not exist!</h4>
                        <a href="{{path('app_selfSignature')}}" class="btn btn-danger btn-lg" role="button"><i class="glyphicon glyphicon-pencil"></i> Create signature</a>
                        <br>
                    </div>
                        {% endif %}
                    {% if company != true %}
                    <div class="col-md-12" center>
                        <br>
                        <h4 style="color:#8e1414">Compant detail does not exist!</h4>
                        <a href="{{path('app_company')}}" class="btn btn-danger btn-lg" role="button"><i class="glyphicon glyphicon-pencil"></i> Set company details</a>
                        <br>
                    </div>
                        {% endif %}
                    <div class="col-md-12" center>
                        <br>
                        <a href="{{path('app_sign_here')}}" class="btn btn-default btn-lg" role="button"><i class="glyphicon glyphicon-send"></i> Sign here</a>
                        <br>
                    </div>
                    <div class="col-md-12" center>
                        <br>
                        <a href="{{path('app_send_econtract')}}" class="btn btn-default btn-lg" role="button"><i class="glyphicon glyphicon-send"></i> Send new Econtract</a>
                        <br>
                    </div>
                    <div class="col-md-12" center>
                        <br>
                        <a href="{{path('app_sentcontracts')}}" class="btn btn-default btn-lg" role="button"><i class="glyphicon glyphicon-list"></i> Sent Econtracts</a>
                        <br>
                    </div>
                    <div class="col-md-12" center>
                        <br>
                        <a href="{{path('app_create_template')}}" class="btn btn-default btn-lg" role="button"><i class="glyphicon glyphicon-plus"></i> New template</a>
                        <br>
                    </div>
                    <div class="col-md-12" center>
                        <br>
                        <a href="{{path('app_selfSignature')}}" class="btn btn-default btn-lg" role="button"><i class="glyphicon glyphicon-pencil"></i> Your signature</a>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}